body {
    background-color: #f5d9df;
    font-family: "Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c; 
    font-size: 1.5rem;
    font-weight: 100;
}

#heading-group span {
    color:#ea1c2c
}
#heading-group h1 {
    font-weight: 100;
    font-size: 4rem;
}

.blurb h2 {
    color:#ea1c2c; 
    font-weight: 100;
    font-size: 2.5rem;

}
.blurb p {
    color:#f498b8; 
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2.0; 
}

.content {
    margin-top: 100px;
}

.navbar.scrolled {
    background-color: rgb(222, 192, 222);
    transition: background-color 500ms; 
}


@media (max-width: 1300px) {
    #heading-group h1 {
        font-size: 3rem;
    }
}

@media (max-width: 1100px) {
    #heading-group h1 {
        font-size: 2rem;
    }
}
